html {
    background-color: rgb(246, 244, 244);
}
#calendar_container {
    display: none;
    border: 0.1rem solid grey;
    border-radius: 0.5rem;
    background-color: white;
    margin:0 0 0 5rem;
}
#calendar {
    display: flex;
    flex-direction: row;    
    padding: 1rem 0 1rem 0.5rem;
}

.delivery_container{
    display: flex;
    flex-direction: row;

}

.div_container{
    margin-right:0.4rem;
}

.quick_access_link{
    color: blue;
    cursor: pointer;
    margin-bottom: -0.7rem;
}

.delivery_container2{
    display: flex;
    flex-direction: row;
    border: 0.1rem solid grey;
    border-radius: 0.5rem;
    padding-left:0.5rem;
    background-color: white;
}

#numdays{
    width: 3rem;
}

#validation_button {
    background-color: #4c7faf;
    border: none;
    color: white;
    padding: 2px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0.2rem;
  }

  